.landing-page {
  background: rgba(0, 0, 0, 0.6) url('../../img/mr20-bg2.jpg');
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;

  height: 100%;
  width: 100%;

  .button-group {
    position: absolute;
    bottom: 0;
    padding: 0em 2em 2em;
    width: 100%;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
  
    button {
      @include box-shadow(2px, 4px, 3px, rgba(0, 0, 0, 0.2));
      margin-bottom: 1em;
    }
  }
}
