$ANIM_TIME: 0.3s;

.rbs-hamburger {
  @include box-shadow(2px, 4px, 1px, rgba(0, 0, 0, 0.1));
  background: none;
  border: none;
  font-size: 1.2em;
  padding: 0.75em;
  margin: 0.75em;

  display: flex;
  flex-direction: column;

  z-index: 3;

  span {
    display: flex;
    width: 24px;
    height: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.5s ease;
  }
  span:first-child { transform-origin: 0% 0%; }
  span:nth-last-child(1) { transform-origin: 0% 100%; }

  &[data-toggled='true'] {
    @include box-shadow(0px, 0px, 0px, rgba(0, 0, 0, 0));
    background: #ffffff;

    span {
      background: #36383F;
      transform: rotate(45deg) translate(0, -3px);
    }
    span:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    span:nth-last-child(1) {
      transform: rotate(-45deg) translate(0, 3px);
    }
  }

  &:focus { outline: none; }
}

.navigation-menu{
  background: rgba(255, 255, 255, 1);
  padding: 5em 1em;
  z-index: 2;

  transition: width $ANIM_TIME cubic-bezier(0.77,0.2,0.05,1.0), padding $ANIM_TIME cubic-bezier(0.77,0.2,0.05,1.0);

  &[hidden] {
    display: block;
    padding: 5em 0em;
    width: 0;
    overflow: hidden;
  }
}

.navigation-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  transition: background-color $ANIM_TIME cubic-bezier(0.77,0.2,0.05,1.0);

  &[hidden] {
    display: block;
    background-color: rgba(0, 0, 0, 0);
  }
}