.btn-rbs-modifier {
  background-color: $PRIMARY_LIGHT;
  color: #FFFFFF;
  width: 32px;
  height: 32px;
  outline: none;
  &:disabled {
    background-color: $GREY_400;
  }
  &:active:not(:disabled) {
    background-color: $PRIMARY_DARK;
  }
}

.btn-show-nights {
  padding: 0 1em;
  .ui.primary.button {
    margin: 0 0 1em 0;
  }
}

.btn-controls {
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1em;

  .ui.primary.button { margin: 0; }
}

.tickets-list { padding: 1em; }

.ticket-item {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-bottom: 0.5em;

  .cost {
    padding: 0em 1em 0em 0em;
  }
  .desc {
    flex-grow: 1;
  }
  .ticket-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
  }
  .controls {
    display: flex;
    button{ margin: 0; }
  }
}