.btn-rbs-modifier {
  background-color: $PRIMARY_LIGHT;
  color: #FFFFFF;
  width: 32px;
  height: 32px;
  outline: none;
  &:disabled {
    background-color: $GREY_400;
  }
  &:active:not(:disabled) {
    background-color: $PRIMARY_DARK;
  }
}

.btn-show-nights {
  padding: 0 1em;
  .ui.primary.button {
    margin: 0 0 1em 0;
  }
}

.ticket-price {
  font-size: 17px;
  text-align: right;
  padding: 1em;
}

.ticket-price-summary {
  text-align: right;
  padding: 1em;
}

.btn-controls {
  bottom: 0.5em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1em;

  .ui.primary.button { margin: 0; }
}

.tickets-list { padding: 0 1em; }

.ticket-item {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 0.5em;

  .ticket-logo { padding: 0 1em 0 0; }
  .ticket-desc { flex-grow: 1; }

  .ticket-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
  }
  .controls {
    display: flex;
    button{ margin: 0; }
  }
}

.registration {
  display: flex;
  .personal-details {
    flex-grow: 1;
    padding: 0 1em;
  }
  .invoice {
    flex-grow: 1;
    padding: 0 1em;
  }
}

.confirmation {
  display: flex;
  .booking-info {
    flex-grow: 1;
    padding: 0 1em;
  }
}

.payment-btn-group {
  margin-top: 1em;
}
