/*
 * RBS's colour palette. This is the primary colour for RBS only and not for revues. Revues will
 * have their own colour scheme that should be controlled via different variables for the landing
 * page.
 */
$PALETTE_LIGHT: hsla(189, 40%, 83%, 1);
$PALETTE_MIDDLE_LIGHT: hsla(209, 35%, 52%, 1);
$PALETTE_MIDDLE: hsla(209, 42%, 44%, 1);
$PALETTE_DARK: hsla(217, 49%, 30%, 1);

// Landing page colour scheme

$LANDING_LIGHT: $PALETTE_LIGHT;
$LANDING_MIDDLE_LIGHT: $PALETTE_MIDDLE_LIGHT;
$LANDING_MIDDLE: $PALETTE_MIDDLE;
$LANDING_DARK: $PALETTE_DARK;
